header {
    background-color: #0f1e36;
}

main {
    display: grid;
    align-items: center;
    margin-top: 5em;
    padding: 2em;
    grid-row-gap: 1em;
    justify-items: center;
}

footer {
    display: grid;
    background-color: #0f1e36;
    padding: 1em;
    justify-items: center;
}

form {
    display: inline-grid;
    grid-row-gap: 10px;
    grid-column-gap: 4px;
}

h1 {
    font-size: 50pt;
    max-font-size: 50pt;
    min-font-size: 12pt;
}

.navbar {
    padding: 1em;
}

.nav {
    left: 50%;
    transform: translateX(-50%);
}

.column {
    display: grid;
    grid-row-gap: 1em;
    justify-items: center;
}

.profile-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgba(4, 13, 23, 0);
}

.profile-button .image {
    width: auto;
    transform: translateX(-20%) translateY(-3%);
}

.error-window {
    display: grid;
    place-items: center;
}
.error-window .box {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    border: 2px solid black;
    font-size: 1vw;
}