.content {
    padding-left: 4px;
    padding-bottom: 2px;
}

.calendar-container {
    height: calc(100%);
    overflow: hidden;
}

.calendar {
    background-color: #474747;
    height: 100%;
    overflow-y: auto;
}

.day {
    min-width: 100px;
}

.weekHeader {
    border-bottom: 3px solid #1e1e1e;
    border-top: 3px solid #1e1e1e;
}

.time {
    border-left: 2px solid #1e1e1e;
    border-right: 2px solid #1e1e1e;
}

.event-window {
    padding: 0 4px 0 0;
    height: 100px;
    overflow: hidden;
}

.event-modal-wrapper {
    width: 50px;
}

.overflow-card {
    width: 20%;
    text-align: center;
}

.event-card-container {
    padding-top: 2px;
    padding-bottom: 2px;
}